# Bitbucket
BB_API_TOKEN=""
BB_BOT_EMAIL=""
BB_WORKSPACE=""
BB_REPO=""

# Telegram
TELEGRAM_BOT_TOKEN=""
TELEGRAM_BOT_OWNER=""

# LLM
LLM_PROVIDER="bedrock" # use either "bedrock" or "openai"
LLM_DEFAULT_MODEL=""

# OpenAI
OPENAI_API_TOKEN=""
OPENAI_BASE_URL=""

# Bedrock
AWS_BEARER_TOKEN_BEDROCK=""
AWS_REGION=""

# DB
DB_FILENAME=""
